body{

    background-color: black;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa toda la pantalla */
}

/* Contenido en el medio */
.content {
  flex: 1; /* ocupa todo el espacio libre */
  display: flex;
  flex-direction: column;
  background-color: #121213; /* fondo claro */
}

/* Footer siempre abajo */
footer {
  background-color: #212529; /* dark */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.intro{
text-align: center;
color: aquamarine;
margin: 0 auto;

}

.introduccion{
    display:grid;
    grid-template-columns: 50% 50%;
    gap:20px;
    padding: 20px;
}

.imagen{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}