body{
    background-color: black;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #121213;
  align-items: center;      /* Centra horizontalmente los hijos */
  justify-content: flex-start; /* Opcional: alinea arriba */
  width: 100%;
}


footer {
  background-color: #212529; 
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.intro{
text-align: center;
color: aquamarine;
padding: 3em;
margin: 0 auto;

}

.introduccion {
  display: grid;
  grid-template-columns: 45% 45%; /* Imagen más ancha */

  justify-content: center;
  
  margin: 0 auto;
}

.introduccion img {
  width: 100%;
  height: 70%;
  margin-top: 10%;
  border-radius: 16px;
  box-shadow: 0 2px 12px #0006;
  object-fit: cover;
  display: block;
}
.mapeoCards{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  justify-content: center;  
}